<md-card>
  <md-card-title>
    Adicionar compra
  </md-card-title>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <md-select placeholder="Produto" [(ngModel)]="compra.produto" name="produto">
      <md-option *ngFor="let produto of produtos" [value]="produto.nome">
        {{ produto.nome }}
      </md-option>
    </md-select>

    <md-input-container>
      <input mdInput placeholder="Quantidade" name="quantidade" min="1" [(ngModel)]="compra.quantidade">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Preço" name="preco" min="1" step="1" [(ngModel)]="compra.preco">
    </md-input-container>

    <button md-mini-fab><md-icon>add</md-icon></button>
  </form>

</md-card>



<!--<h1>Nova compra</h1>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">

  <div>
    <label>Produto</label>
    <select id="produto" required [(ngModel)]="compra.produto" name="produto" #produto="ngModel">
      <option value="" disabled selected>Produto</option>
      <option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}</option>
    </select>  
  </div>

  <div>
    <label>Quantidade</label>
    <input type="number" name="quantidade" min="1" [(ngModel)]="compra.quantidade">
  </div>

  <div>
    <label>Preço</label>
    <input type="number" name="preco" min="0" step=".01" [(ngModel)]="compra.preco">
  </div>

  <button>Salvar</button>

</form>-->
