<h1>Nova compra</h1>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">

  <div>
    <label>Produto</label>
    <select id="produto" required [(ngModel)]="compra.produto" name="produto" #produto="ngModel">
      <option value="" disabled selected>Produto</option>
      <option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}</option>
    </select>  
  </div>

  <div>
    <label>Quantidade</label>
    <input type="number" name="quantidade" min="1" [(ngModel)]="compra.quantidade">
  </div>

  <div>
    <label>Preço</label>
    <input type="number" name="preco" min="0" step=".01" [(ngModel)]="compra.preco">
  </div>

  <button>Salvar</button>

</form>
